# Python requirements for backend

fastapi>=0.95.0
uvicorn[standard]>=0.20.0
SQLAlchemy>=2.0.0
aiomysql>=0.1.0
alembic>=1.10.0
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1
python-dotenv>=1.0.0
aiofiles>=23.1.0
aioredis>=2.0.1
httpx>=0.24.0
pydantic<=2.0.0
python-multipart>=0.0.6

# dev
pytest
